body {
	background-color: #111116;
	margin: 0;
}

#psyduck_wrapper {
	padding-top: 20px;
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}

#pysduck {
	height: 35vh;
	widows: auto;
	margin: auto auto;
	vertical-align: middle;
}