#achivements > .row  i {
    color: green;
}

#achivements {
    padding-bottom: 30px;
}

/* while I work on this */
#icons svg,
#icons img {
    height: 64px;
    width: auto;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}


.row .img-responsive,
#icons.row div svg,
#icons.row div img {
    width: 75%;
    height: auto;
    object-fit: cover;
    margin: auto auto; 
}

#me {
    margin: 0 auto; 
    height: 250px;
    width: auto;    
    margin-bottom: 5px;
}

section {
    margin-bottom: 5px;
}

#icons-profile * {
    margin: 7.5px;
}