/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


/*
	General stuff
*/
body h1, h2, h3, h4, h5, h6{
	font-family: 'Indie Flower', cursive;
}

body p {
  font-family: "Trebuchet MS", sans-serif;
}
/*
	Color Schemes
*/

#intro_1 {}

#intro_2 {}

#intro_3 {}

#intro_4 {}

#intro_5 {}

#intro_6 {}
/*
 	Position elements in slides
*/

 .pos_intro {
 	position: relative;
 	text-align: center;
 	color: white;
 }


 .padding_top_35 {
 	padding-top: 35px;
 }

.padding_top_15 {
	padding-top: 15px;
}

.padding_top_25 {
	padding-top: 25px;
}

.padding_top_100 {
	padding-top: 100px;
}

.padding_top_50 {
	padding-top: 50px;
}

.padding_right_100 {
	padding-right: 100px;
}

.padding_left_60 {
  padding-left: 60px;
}

.padding_right_60 {
  padding-right: 60px;
}

.padding_left_30 {
  padding-left: 30px;
}

.padding_right_30 {
  padding-right: 30px;
}
/*
  Others
*/
button {
	opacity: 0.15;
}

.link_img {
	padding-left: 10px;
	padding-right: 10px;
}


#intro {
  position: fixed;
  top: 0;
  left: 0;
 }


/*
	Size letters and text scale
*/

h1 {
	font-size : 60px;
}

p {
	font-size : 29px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  p {
    font-size: 22px;
  }
}

@media (max-width:480px) {
 h1 {
  font-size: 30px;
 }

 p {
  font-size: 18px;
 }
}

.description {
  text-align: justify !important;
  text-justify: inter-word !important; 
}

#aboutMe_text {
  padding-top: 20px;
}

/*
	Color
*/

.color_white {
	color: white;
}

/*
	Image resizing
*/

#aboutme_photo , #arredasPhoto_me, #windmillImage, #feedbackImage, #cesium_me , #opportunity_photo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#aboutme_photo {
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
}

#arredasPhoto_me {
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
}

#windmillImage {
  max-height: 80%;
  max-width: 80%;
  border-radius: 10px;
}

#feedbackImage {
  max-height: 75%;
  max-width: 75%;
  border-radius: 10px;
}

#cesium_me {
  max-height: 75%;
  max-width: 75%;
  border-radius: 10px;
}

#cesium_logo {
  max-height: 60%;
  max-width: 60%;
  border-radius: 10px;
}

#synergia_logo {
   display:block;
   margin:auto;
}

#arredas_logo {
  max-width: 50%;
  max-height: 50%;
}

#arredas_logo , #arredasPhoto_me, #cesium_me{
  display: block;
  margin: auto;
}

#opportunity_photo {
	max-height: 75%;
	max-width: 75%;
}

@media (max-width: 768px){
  #aboutme_photo {
    max-width: 40%;
    max-height: 40%;
  }
}

@media (max-width: 480px){
  #aboutme_photo {
    max-width: 30%;
    max-height: 30%;
  }
}

/*
  Height , width changes
*/

.third_window {
  max-height: 30vh;
}

.max-height {
  height: 100vw;
}

.fill {
  height: 100% !important;
}
