

#top-side {
  width : 100%;
  height: 400px;
}

#vedas_a {
  float: left;
}

#vedas_b {
  margin: 0 auto;
  display: block;
}

#vedas_c {
  float: right;
}

#getting-started {
  margin-top: 100px;
  text-align: center;
  font-size: 100px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

img.star
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         2s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}
